body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EFE3D0;
  text-align: center;
}

header {
  background-color: #2D2424;
  color: #f1f1f0;
}
    
#color-palette {
  display: flex;
  justify-content: center;
  background-color: #2d24244b;
  padding: 5px;
  margin: auto;
  margin-top: 50px ;
  border-radius: 4px;
}
    
.color {
  border: 1px solid black;
  padding: 30px;
  margin: auto;
}
    
#color-black {
  background-color: black;
}
    
#color-green {
  background-color: rgba(97, 163, 31, 0.849);
}
    
#color-blue {
  background-color: rgba(22, 44, 168, 0.87);
}
    
#color-yellow {
  background-color: rgba(233, 233, 0, 0.918);
}
    
#pixel-board {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.068);
  width: 450px;
}
    
.pixel {
  padding: 40px;
  border: 1px solid black;
  float: left;
  text-align: center;
}


#clear-board {
  padding: 6px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f3ede2;
  background-color: rgba(53, 43, 43, 0.472);
  border-radius: 4px;
}

#clear-board:hover {
  background-color: rgba(53, 43, 43, 0.719);
}

#submits-container {
  margin: 20px 5px;
}

#board-size {
  font-size: 15px;
  padding: 5px;
  border-radius: 4px;
}

#generate-board {
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
}